@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

#root {
  font-family: 'Montserrat', sans-serif;
}

.font-500 {
  font-weight: 500;
}

.my-button {
  color: #fff;
  background-color: #F89223;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}
.my-button:hover {
  background-color: #E18521;
  color: #fff;
}

.my-color {
  color: #F7A026 !important;
}

.my-color-two {
  color: #f5a959 !important;
}

.my-color-three {
  color: #F89223 !important;
}

.my-color-gray {
  color: #edf0f5;
}

.my-text {
  color: #7D7F82;
}

.my-title {
  color: #2e2f31;
}

.active {
  color: #2e2f31;
  font-weight: 600;
}

.default {
  color: #7D7F82;
  font-weight: 600;
}
.active:hover {
  color: #2e2f31;
}

.default:hover {
  color: #7D7F82;
}

.my-style:hover {
  opacity: 0.8;
  transition-duration: 1s;
  cursor: pointer;
}