@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

#root {
  font-family: 'Montserrat', sans-serif;
}

.my-button {
  color: #fff;
  background-color: #F89223;
}
.my-btn:hover {
  background-color: #E18521;
}

.my-color {
  color: #F7A026 !important;
}